@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap');

:root {
  --animate: all 200ms ease-in-out;
  --color-purple: #633CFF;
  --color-purple-hover: #BEADFF;
  --color-purple-light: #EFEBFF;
  --color-grey: #737373;
  --color-grey-dark: #333333;
  --color-grey-light: #FAFAFA;
  --color-skelets: #EEEEEE;
  --color-border: #D9D9D9;
  --color-white: #FFFFFF;
  --color-red: #FF3939;
  --ff: 'Instrument Sans', sans-serif;
  --fs: 16px;
  --gap: 24px;
  --ava: 96px;
  --labelw: 35%;
  --module-gap: 40px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-grey-light);
  color: var(--color-grey);
  font-family: var(--ff);
  font-size: var(--fs);
  line-height: 24px;
  margin: 0;
}

a {
  color: var(--color-purple);
  text-decoration: none;
  &:hover {
    color: var(--color-purple-hover);
  }
}

img { max-width: 100%; }
.text-center { text-align: center; }

h1, .h1 {
  color: var(--color-grey-dark);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 8px;
}

/* reset button to link */
.resetBtn {
  background: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* container-short */
.container-short {
  max-width: 476px;
  margin: 0 auto;
  &.centered {
    align-items: center;
    display: flex;
    min-height: 100vh;
    &>div { flex: 1; }
  }
}

/* module */
.module {
  background: #fff;
  border-radius: 12px;
  padding: var(--module-gap);
  &-logo {
    margin: 0 0 51px;
    img { display: block; margin: 0 auto; }
  }
  &-text {
    margin: 0 0 40px;
    &:last-child { margin: 0; }
  }
}

/* article */
.article {
  margin: 0 0 40px;
}

/* greybox */
.greybox {
  background: var(--color-grey-light);
  border-radius: 12px;
  padding: 20px;
  .h1 { margin: 0 0 var(--gap); }
}


/* Responsive */
@media screen and (max-width: 750px) {
  h1, .h1 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 24px;
  }
  .container-short.centered {
    background: #fff;
    display: block;
    .module-logo {
      margin: 0; padding: 32px;
      img { margin: 0; }
    }
  }
}


.selectIconDiv {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  &-github { background-image: url(../src/assets/images/icon-github.svg); }
  &-frontendmentor { background-image: url(../src/assets/images/icon-frontendmentor-grey.svg); }
  &-twitter { background-image: url(../src/assets/images/icon-twitter.svg); }
  &-facebook { background-image: url(../src/assets/images/icon-facebook.svg); }
  &-youtube { background-image: url(../src/assets/images/icon-youtube.svg); }
  &-codewars { background-image: url(../src/assets/images/icon-codewars.svg); }
  &-codepen { background-image: url(../src/assets/images/icon-codepen.svg); }
  &-linkedin { background-image: url(../src/assets/images/icon-linkedin.svg); }
  &-twitch { background-image: url(../src/assets/images/icon-twitch.svg); }
  &-stackoverflow { background-image: url(../src/assets/images/icon-stackoverflow.svg); }
  &-freecodecamp { background-image: url(../src/assets/images/icon-freecodecamp.svg); }
  &-devto { background-image: url(../src/assets/images/icon-devto.svg); }
  &-gitlab { background-image: url(../src/assets/images/icon-gitlab.svg); }
  &-hashnode { background-image: url(../src/assets/images/icon-hashnode.svg); }
}